<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>matraszek.net - {{ title }}</title>
   <link rel="stylesheet" type="text/css" href="{{ site.path }}/css/style.css" >
   <link rel="alternate" type="application/atom+xml" href="{{ site.path }}/rss.xml" title="RSS">
</head>
<body data-route={{route}}>

<div class="container">
<header class="masthead">
   <h3 class="masthead-title">
     <a href="/">matraszek.net</a>
     <small>
        &nbsp;&nbsp;&nbsp;<a href="{{ link }}/posts/">Blog</a>
     </small>
     <small>
        &nbsp;&nbsp;&nbsp;<a href="{{ link }}/projects/">Projects</a>
     </small>
     <small>
       &nbsp;&nbsp;&nbsp;<a href="{{ link }}/rss.xml">Feed</a>
     </small>
   </h3>
</header>

<div id="content">
  {{ content }}
</div>

</div><!-- .container -->
</body>
</html>
